<html>
  <head>
    {% if title %}
    <title>{{title}} - Flask Servers</title>
    {% else %}
    <title>Flask Servers</title>
    {% endif %}
  </head>
  <body>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <div>Система мониторинга серверов: <a href="/index">Домой</a></div>
    <hr>
    {% block content %}

    {% endblock %}
  </body>
</html>