<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    {% if title %}
    <title>{{title}} - Flask Servers</title>
    {% else %}
    <title>Flask Servers</title>
    {% endif %}
    <style>
    table { 
        text-align: left;
        }
    </style>
  </head>
  <body style="margin:50px 0; padding:0; text-align:center;">
  
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    
    <h3 align="center"> Система мониторинга серверов</h3>
    <a class="btn btn-primary btn-sm" href="/index">Домой</a> <a class="btn btn-primary btn-sm" href="/datacentres">Датацентры</a> <a class="btn btn-primary btn-sm" href="/servers/">Серверы</a>
        
    {% block content %}

    {% endblock %}
    </p>
  </body>
</html>